
#secret {
    background:blue;
    text-decoration: darkgreen underline;
    color:white;font-size:35px;
    font-family: "American Typewriter";
}
#conduct {
    background: black;
    color:white;
}
