/*
multi
line
comment
*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}
#centering {
    text-align: center ;
}
h1 {
    text-align: center;
}
h2 {
    color: red;
    text-decoration: underline;
}
body {
    background-color: lightgray;
    font-family: "Apple SD Gothic Neo", serif;
}
#technology {
    background-image: url("../img/black.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
tr {
    color: white;
    outline-color: black;
}
ul {
    list-style: lower-greek;
}
table, td, tr {
    border-style: groove;
    border-width: 5px;
    font-size: medium;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    color: purple;
}
a:active {
    color: green;
}
